<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.ayantech.advertisement" >

    <application>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ad_mob_app_id"/>
    </application>
</manifest>
